---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Nav from '../components/Nav'
---

<Layout title="David Kielty">
	<main>
		<Nav>
			<h1 class="font-bold text-white">Hello World</h1></Nav>
	</main>
</Layout>
