---
interface Props {
    id: string;
    class?: string;
    config?: Record<string, any>;
}

const { id, class: className, config = {} } = Astro.props;
---

<div class:list={["splide min-h-[700px]", className]} id={id}>
    <div class="splide__track min-h-[700px]">
        <ul class="splide__list min-h-[700px]">
            <slot />
        </ul>
    </div>
</div>

<link
    href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css"
    rel="stylesheet"
/>

<style is:global>
    .splide .splide__pagination {
        bottom: -36px;
    }
</style>

<script
    is:inline
    src="
https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js
"
></script>

<script define:vars={{ id, config }}>
    document.addEventListener("DOMContentLoaded", function () {
        var splide = new Splide(`#${id}`, config);
        splide.mount();
    });
</script>